
<app-search-list (searchActive) = "isSearching($event)"></app-search-list>
<!-- Tabs -->
<div class="container mt-5 mb-5" *ngIf="!searchActive">
    <tabset type="pills" [justified]="true">
        <!-- Movie Tab -->
        <tab heading="Movies" id="tab1">
            <div class="container">
                <div class="row m-4">
                    <div *ngFor="let movie of movies" class="col-lg-6 mb-4">
                        <app-media-card [movie]="movie"></app-media-card>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12 text-center mb-4">
                    <button type="button" class="btn btn-outline-light mb-5" *ngIf="loadMoviesButton" type="button"
                        (click)="loadMoreMovies()">Load More</button>
                </div>
            </div>
        </tab>
        <!-- TV Shows Tab -->
        <tab heading="TV Shows" id="tab2">
            <div class="container">
                <div class="row  m-4">
                    <div *ngFor="let tvshow of tvshows" class="col-lg-6 mb-4">
                        <app-media-card [movie]="tvshow"></app-media-card>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12 text-center mb-4">
                    <button type="button" class="btn btn-outline-light mb-5" *ngIf="loadTVShowsButton" type="button"
                        (click)="loadMoreTVShows()">Load More</button>
                </div>
            </div>
        </tab>
    </tabset>
</div>