body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #200614,
    #3a2033,
    #543a58,
    #6a5881,
    #7a78ac,
    #7287bc,
    #6795ca,
    #5ba4d5,
    #419fc3,
    #3399af,
    #319199,
    #398984
  );
}

.nav-pills .nav-link {
  background: rgba(255, 255, 255, 0.2);
  
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #86A8E7;
}
.nav-pills li{
  text-align: center;
}

